@font-face {
    font-family: font;
    src: url(font/The\ Dark\ Titan\ Vintage.otf );   
}

body {
    background-color: #ff8258;
    box-sizing: border-box;
    height: 100vh;
}



.toggle-mode {
    font-family: sans-serif;
    display: flex;
    justify-content: end;
    align-items: start;
    
    transition: background-color 0.5s ease;
    padding: 10px;
}


.toggle-btn {
    display: none;
}

.toggle-lable {
    width: 60px;
    height: 30px;
    background-color: #e9e9e9;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}

.toggle-lable:before{
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #171e14;
    top: 1px;
    left: 1px;
    transition: transform 0.4s ease;
}

.toggle-btn:checked + .toggle-lable {
    background-color: #333;
}

.toggle-btn:checked + .toggle-lable::before{
    transform: translateX(30px);
}

.dark-mode {
    background-color: black;
}

.dark-mode .toggle-lable:before{
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color:#ff8258;
    top: 1px;
    left: 1px;
    transition: transform 0.4s ease;
}

h1 {
    font-family: font;
    text-align: center;
    color: black;
    font-size: 10vh;
    font-weight: 100%;
}
.dark-mode h1 {
    text-align: center;
    color: #ff8258
    ;
    font-size: 10vh;
    font-weight: 100%;
}


h2 {
    text-align: center;
    color: black;
    font-size: 2rem;
    font-weight: 100%;
}

form {
    background: rgba(255, 234, 173, 0.35);
    color: black;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    padding: 5rem;
    border-radius: 12%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin: auto;
    color: #000000;
    text-align: center;
}

span {
    position: fixed;
}

.calculadora {
    text-align: center;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 5%;
    font-family: sans-serif;
    font-size: 0.8em;
    background-color: #ffffff;
    border: none;
    font-weight: 800;
    color: #000000;
    transition: opacity 0.3s ease;
    transform: translateY(20%);
    border-radius: 20px;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
    
}